---
import Layout from "../layouts/Layout.astro";
import Medias from "../components/Medias.vue";
---

<Layout>
  <div class="grid grid-cols-4 gap-4 portrait:grid-cols-1">
    <div class="portrait:order-last portrait:hidden">
    </div>
    <div class="h-full col-span-3">
      <div class="grid grid-cols-6 gap-4 text-white portrait:grid-rows-2 portrait:grid-cols-none">
        <div class="block-content p-4 landscape:col-span-5 font-border">
          Fala galera.... beleza?
        </div>
        <div class="portrait:order-first text-center">
          <Medias client:load />
        </div>
      </div>
    </div>
  </div>
</Layout>